.containerImage{
    width: 1580px;
    margin: auto;
    height:100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(rgba(13, 18, 31, 0.75), rgba(5,7,12,0.75)), url('../../Images/bg-06.png'), no-repeat center center fixed;
    background-size: cover;
}

.containerMain{
    width: 420px;
    height: 55vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding:20px 40px;
    border-radius: 8px;
    background: linear-gradient(-225deg, rgba(144, 173, 235, 0.642) 0%, rgba(3, 81, 126, 0.452) 85%);
}

.formLoginUser{
    width: 80%;
    max-width: 100%;
    padding: .75rem 0;
}

.formLoginUser h2{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color:#edc86b;
    padding: 1.25rem 0px;
}

.formControl,
.formControlPassword {
    width: 100%;
    height: auto;
}

.formControl label,
.formControlPassword label{
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-weight: 300;
    color:#eee;
    margin-bottom: 2px;
}

.formControl input {
    width: 100%;
    text-align: left;
    font-size: .8rem;
    font-family: inherit;
    font-weight: 200;
    padding: 12px 0;
    text-transform: lowercase;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.formControlPassword input{
    width: 100%;
    text-align: left;
    font-size: .8rem;
    font-family: inherit;
    margin-bottom: 40px;
    border: none;
    border-radius: 8px;
    padding: 12px 0;
    background-color: #f0f0f0;
}

.formControl input:focus,
.formControlPassword input:focus{
    outline:none;
}

.formControl input:hover,
.formControlPassword input:hover{
    cursor: pointer;
    background-color: #e4caa9b2;
}

.buttonEnviar button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    
    color: #f6f6e9;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .15rem;
    
    border:none;
    border-radius: 8px;
    padding: .75rem 1.2rem;
    background: #bf165a;
}


.formLoginUser button:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #139b92;
}

.backToHome{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    font-weight: 100;

    color:#bdbcbd;
    transition: .3s ease;
}
.backToHome:hover{
    cursor:pointer;
    color:#fff;
    font-weight: 300;
}

.fail{
    color: #d1b881;
    font-family: 'Roboto', sans-serif;

    font-size: .75rem;
    font-weight: 300;
}
.successUser{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color:#139b92;
    }