/* body{
    width: 100%;
    height: 20vh;
    min-height: 90vh;

    color:#f0f0f0;
    background-color: #17223b;
} */

.containerP{
    position: absolute;
    width: 1580px;
    min-height: 90vh;
    top:120px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(13, 18, 31, 0.75), rgba(5,7,12,0.75)), url('../../Images/bg-06.png'), no-repeat center center fixed;
    background-size: contain;
}

.containerMain{
    position: relative;
    width: 420px;
    height: 20%;

    top:250px;
    padding:50px 40px;
    border-radius: 8px;
    background: linear-gradient(-225deg, rgba(198, 172, 172, 0.642) 0%, rgba(42, 112, 152, 0.452) 85%);
}

.formLoginUser{
    display: inline-block;
    width: 300px;
}

.titleLogin h2{
    display: flex;
    justify-content: center;
    font-weight: 400;
    color:#eee;
}

.formControl,
.formControlPassword {
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
}

.formControl label,
.formControlPassword label{
    display: flex;
    font-weight: 400;
    color:#eee;
    margin-bottom: 2px;
}

.formControl input {
    width: 100%;
    display: flex;
    text-align: left;
    font-size: .8rem;
    font-family: inherit;
    padding: 12px;
    border: none;
    text-transform: lowercase;
    
    background-color: #f0f0f0;
}

.formControlPassword input{
    width: 100%;
    display: block;
    text-align: left;

    font-size: .8rem;
    font-family: inherit;
    padding: 12px;
    border: none;
    
    background-color: #f0f0f0;
}
.formControl input:focus{
    outline:none;
}
.formControl input:hover{
    cursor: pointer;
}
.formControlPassword input:focus{
    outline:none;
}
.formControlPassword input:hover{
    cursor:pointer;
}

.formLoginUser button {
    width: 100%;
    display: block;
    padding: .75rem 1.2rem;
    margin: .75rem 0;
    border:none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #f6f6e9;
    background: #bf165a;
}

.formLoginUser button:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #139b92;
}
.fail{
    color: #f2317f;
    font-size: .75rem;

}
.successUser{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color:#139b92;
    }