.containerHeaderNavbar{
    position: fixed;
    /* width: 1580px; */
    width: inherit;
    max-width: inherit;
    z-index: 1;

    top:0px;
    height: 70px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    background-color:gray;
}

.containerHeaderNavbar h2{
    width: 25%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'PT Serif', serif;
    font-size: 2.2rem;
    font-weight: 500;
    font-style: italic;

    color: rgb(196, 184, 94);
}

.containerNavbar{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.NavbarLink {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color:#f0f0f0;
    
    font-size: .85rem;
    font-weight: 300;
    transition: .2s all;
    text-decoration: none;
}

.NavbarLink:hover{
    cursor:pointer;
    border-bottom: .05rem solid orange;
    font-weight: 500;
}

.containerButtons{ 
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttonLink,
.buttonRegister {
    border:none;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color:#fff;
    color: rgb(218, 148, 19);
}

.buttonLink:hover,
.buttonRegister:hover {
    cursor: pointer;
    background-color: rgb(218, 148, 19);
    font-weight: 600;
    color:#fff;
    padding: .10rem 1rem;
    border-radius: 8px;
}