<<<<<<< HEAD

=======
/*:root * {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}*/
>>>>>>> main
.containerImage{
    width: 1580px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(rgba(75, 66, 95, 0.75), rgba(4, 12, 30, 0.75)), url('../../Images/bg-06.png') no-repeat center center fixed;
    background-size: cover;
}

.containerMain{
    width: 420px;
    height: auto;
    padding:20px 40px;
    
    border-radius: 8px;
    background: linear-gradient(-225deg, rgba(198, 172, 172, 0.642) 0%, rgba(42, 112, 152, 0.452) 85%);
}

.formRegister{
    width: 100%;
    max-width: 100%;
    padding: .75rem 0;
}

.formRegister h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: #edc86b;

    margin-bottom: 30px;
}

.formControl,
.formControlEmail,
.formControlPassword {
    width: 100%;
    height: auto;
    margin-bottom:20px;
    overflow: hidden;
}

.formControl label,
.formControlEmail label,
.formControlPassword label{
    display: flex;
    font-family: inherit;
    font-weight: 200;
    color: #fff;
}

.formControlEmail input {
    width: 100%;
    text-align: left;
    font-size: .8rem;
    font-family: inherit;
    margin: 0px;
    padding: 12px;

    text-transform: lowercase;

    border: none;
    outline: none;
    background-color: #cfcdcd;
}

.formControl input,
.formControlPassword input {
    width: 100%;
    height: auto;
    text-align: left;
    font-size: .8rem;
    font-family: inherit;
    margin:0px;
    padding: 12px;
    border: none;
    outline: none;
    background-color: #cfcdcd;
}

.formControl input:hover,
.formControlEmail input:hover,
.formControlPassword input:hover {
    cursor: pointer;
    background-color: #e4caa9b2;
}

.formRegister button {
    width: 100%;
    display: block;
    
    color: #f6f6e9;
    font-size: 1rem;
    font-weight: 500;
    
    border:none;
    border-radius: 8px;

    padding: .75rem 1.2rem;
    margin: 3rem 0;
    background: #bf165a;
}

.formRegister button:hover {
    cursor: pointer;
    font-weight: 700;
    background-color: #139b92;
}

.backToHome{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    font-weight: 100;
    
    color:#bdbcbd;
    transition: .3s ease;
}
.backToHome:hover{
    cursor:pointer;
    color:#fff;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    border-bottom: .05rem solid orange;
    /* border-radius: 8px; */

}
.fail{
    color: #d1b881;
    font-size: .75rem;
    font-weight: 500;
}
.successUser{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color:#139b92;
    }