/* .prueba{ */
	/* color: red; */
	/* font-size: large; */
	/* background-color: blue; */
/* } */

.mainContainer {
	background-color: rgba(0, 0, 0, 
	0.5);
	position: fixed;
	transform: translate(-50%, -50% );
	width: 50%;
	height: 50%;
	z-index: 1;
}