#aside{
	display: flex;
	border: solid 2px #ccc;
	box-shadow: 1px 1px 1px 1px rgb(131, 131, 131);

	border-radius:20px ;
	width: 180px;
	height: 55px;
	margin-top: 20px;
	margin-left: 40px;
	transition: all 200ms;
}

#aside:hover{
	border: solid #ccc 2px ;
	background-color: #ccc;
	scale: 1.1;
}


a{
	cursor: pointer;
}


#link{
	color:rgb(0, 0, 0) ;
	font-weight: bold;
	text-align: center;
	padding-left: 10px;
	font-size: 12px;
}

#link:hover{
	color: rgb(49, 49, 49);

}



.boximage {
	width: 90px;
	height: 100px;
}

.image {
	object-fit: contain;
	display: flex;
}


li{
	list-style: none;
	display: flex;
	

}

.boximage{
	margin-right: -50px;
	

}

.image{
	padding: 17PX;
}



.anuncio-info{
	justify-content: center;
	width: 200px;
	padding-bottom: 5px;
}


