.botonesflecha{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

button {
    width: 90%;
    height: 60%;
    background-color:#ccc;
    border: solid 1px  #a5a5a5;
    color:#505050;
    margin: 10px;
    justify-content: center;
    border-radius: 150px;
}

button:hover{
background-color: #979797;
}
