.containerMain{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.identificador{
	font-size: 3em;
	margin: 1em;

}
.containerVender {
	width: 50%;
	height: 90vh;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #d3cfcf;
	border: 1px solid rgb(109, 107, 107);
	border-radius: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.containerSelect{
	background-color: white;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 8px;
	width: 66%;
	height: 30px;
	font-size: 1em;
	border: 0px;
}

.containerInput{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.containerVender {
    padding-top: 20px;
    font-size: 1rem;
}

.medTitle{
	font-size: 1.2em;
	font-weight: bold;
}

.containerElement{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.containerImagenes{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.containerImg{
	display: flex;
	flex-direction: row;
	width: 90%;
	overflow: scroll;
	overflow-y: hidden;
	height: 150px;
	object-fit: contain;
}

.images{
	margin: 5px;
}

.boton{
	background-color: orange;
	width: 110px;
	height: 50px;
	border: 3px solid rgb(109, 107, 107);
	border-radius: 20%;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 15px;
	margin-bottom: 15px;
}

.botonPutImages{
	background-color: orange;
	width: 200px;
	height: 30px;
	border: 3px solid rgb(109, 107, 107);
	border-radius: 20%;
	font-weight: bold;
	font-size: 0.8em;
	margin-top: 15px;
	margin-bottom: 15px;
}