.ContainerCardMyArticles{
    width: 100%;
    max-width: 650px;
    height: 410px;

    display:flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 8px;
    background-size: cover;
    filter:drop-shadow(.5rem .5rem 1rem rgb(124, 123, 123));
}

.ContainerHeaderCard{
    height: 110px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #cfcccc;
}

.cardTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    /* up, left-right, down */
    padding-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
    color:#0c7585;
}

.cardDescription {
    display: flex;
    width: auto;
    height: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* up, left-right, down */
    padding: .15rem 100px 3rem;
    font-size: .95rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: .03rem;
    color:#095c76;
}


.containerMidiumCard {
    width: 100%;
    display: flex;
    height: 145px;
    border-top:4px solid #eee;
    background-color: #bab6b6;
}

.containerValues {
    width: 50%;
    padding-left: 50px;
    padding-top: 10px;
}

.cardCity,
.cardCountry {
    display: flex;
    font-size: .75rem;
    margin-top:5px;
    color:antiquewhite
}

.cardValor,
.cardRebaja {
    display:flex;
    margin-top: 5px;
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.cardValor {
    padding-top:8px;
    color: #186c79;
}

.cardRebaja {
    visibility:visible;
    color:#a51d16;
}

.cardState {
    display: flex;
    font-size: .75rem;
    font-weight: 600;
    /* up, left-right, down */
    padding-top: 5px;
    color:#852e0b;
}

/* Contenedor de componentes botones */
.containerButtons {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}

.containerCardImages{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    border-top: 4px solid #fff;
    background-color: #cfcccc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cardImages{
    width: 100%;
    height: 400px;
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    border-top: solid 4px #eee;
}

.cardImagesMaps {
    width: 60%;
    height: 120px;

    display:flex;
    justify-content: center;
    object-fit: fill;
    border-radius: 12px;
    border:4px solid rgb(171, 138, 4);
    
    overflow-x: scroll;
    margin-top: 10px;
}

.imagesCards {
    margin:5px;
}