.ContainerCardMyArticles{
    max-width: 650px;
    width: 100%;
    height: 400px;

    display:flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 50px;

    border-radius: 8px;
		background-color: #d3cfcf;
/*     background: linear-gradient(-250deg, #ff8a3cdb 0%, #562b7cf0 32%, #1b6fabcd 95%), url('../../Images/bg-card-02.png'), no-repeat center center fixed;
    background-size: cover; */
}

.ContainerCard{
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainImage {
    width: 250px;
    height: 250px;
    padding: 5px;
    object-fit: fill;

    border-top-left-radius: 14px;
}

.ContainerCardDetails {
    width: 75%;
    height: 250px;
    letter-spacing: .025rem;
    border-top-right-radius: 8px;
}

.cardTitle {
    /* up, left-right, down */
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0 5px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    color:#31d0e8;
}

.cardDescription {
    display: flex;
    width: 100%;
    height: 45px;

    align-items: center;
    justify-content: center;
    text-align: center;
    
    /* up, left-right, down */
    padding: 7px 26px 0px;
    
    font-size: .9rem;
    font-weight: 300;
    line-height: 1rem;
    color:#eee;
}

.cardDescription::first-letter {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color:rgb(61, 148, 61);
}

.containerValues {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    margin-left: 20px;
    margin-top: 15px;
    /* border:2px solid #eee; */
    /* background-color: orange; */
}

.cardCity,
.cardCountry {
    font-size: .75rem;
    color:antiquewhite
}

.cardValor,
.cardRebaja {
    font-size: .75rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.cardValor {
    padding-top:8px;
    color: #31d0e8;
}

.cardRebaja {
    visibility:visible;
    color:#f43f35;
}

/* .cardRebajaOculta {
    color:green;
    visibility: hidden;
    background-color: yellowgreen;
} */

.cardState {
    width: 50%;
    display: flex;
    font-size: .85rem;
    /* up, left-right, down */
    padding: 10px 20px 0;
    color:#f2c01e;
}

.cardImages{
    width: 100%;
    height: 400px;
    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;

    border-top: solid 4px #eee;
}

.cardImagesMaps {
    width: 60%;
    height: 120px;

    display:flex;
    object-fit: fill;
    border-radius: 12px;
    border:4px solid rgb(174, 110, 206);
    
    overflow-x: scroll;
}

.imagesCards {
    margin:5px;
}