*{
    margin: 90px;
}

#title{
    border: solid 1px black;
    width: 250px;
}

#type{
    border: solid violet 1px;
    width: 120px;
    height: 120px;
}

#price{
    border: 1px solid orange;
    width: 120px;
    height: 120px;
}

#description{
    border: solid 1px orange;
    width: 250px;
    
}

#status{
    border: solid orange 1px;
    width: 250px;
}

#img{
    
    width: 250px;
}

.cuerpo{
    border: solid red 1px ;
    margin: 30px;
}