.provider{
    width: 1580px;
}

.container {
    width: 1580px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    /*padding: 50px 0px;*/
}

.search {
    /* display: flex; */
    /* justify-content: center; */
    
    width: 600px;
    /*padding: 5px 10px;*/
}

.mainp {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 200px;
    margin-top: 25px;
}

.types {
    width: 30%;
    padding-right: 100px;
}

.itemlist {
    width: 70%;
}