
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: center;
    width: 100%;
		margin-top: 125px;
		margin-bottom: 20px;
		padding: 50px 0px;
    background-color: rgb(70, 226, 43);
    height: auto;
}

.search{
    /* display: flex; */
    /* justify-content: center; */
    background-color: blue;
    width: 600px;
}
.mainp{
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100%;
    padding-left: 200px;
}

.types{
    width: 30%;
    padding-right: 100px;
}

.itemlist{
    width: 70%;
}
