.App {
    width: 1000px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}

.search{
	width: 100%;
}

.mainp{
    display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
}