.buscador{
	display: flex;
	justify-content: space-around;
	width: 50%;
	height: 40px;
	border: solid 2px #ccc;
	background-color: #ccc;
	border-radius: 15px;
	box-shadow: 1px 1px 2px 0px;
}

.select{
	border: solid 2px #ccc;
	border-radius: 15px;
	background-color: #ccc;
}

.input{
	border: 2px solid #ccc;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;

}

.priceInput{
	border: 2px solid #ccc;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
	width: 60px
}

.button{
	border: 1px solid #ccc;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

/*
input {
	border: solid 1px #ccc;
	margin-bottom: 20px;
	border-radius: 10px;
}

input:focus {
	color: grey;
}


.buscador {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin: 20px;
	border: solid 2px #ccc;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px rgb(131, 131, 131);
	width: 50%; 
	margin-top: 50px;
}



.button {
	color: orange;
	margin-right: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	transition: all 200ms;

}

.button:hover {
	color: rgb(218, 148, 19);
	scale: 1.1;

}


.select {
	margin-right: 10px;
	border-radius: 10px;
	border: solid #ccc 1px;
}

.range{
	margin-right: 20px;
	margin-left: 60px;
	margin-top: 10px;
}

label{
	margin-right: 10px;
	padding-top: 10px;
}
*/